{% extends 'common/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="content">
    <h3>{{cur_user.username}}({{cur_user.nickname}})</h3>
    {% if user != cur_user %}
    <form action="{% url 'member:follow_toggle' user_pk=cur_user.pk %}?next={{request.path}}{{request.GET|query_string}}" method="POST">
        {% csrf_token %}
        {% if cur_user in user.following %}
            <button type="submit" class="btn">팔로우 취소</button>
        {% else %}
            <button type="submit" class="btn">팔로우</button>
        {% endif %}
    </form>
    {% endif %}
    <h5>Following</h5>
    {% for u in cur_user.following %}
        <div>
            <a href="{% url 'member:profile' user_pk=u.pk %}" class="btn">{{ u }}</a>
        </div>
    {% endfor %}
    <h5>Followers</h5>
    {% for u in cur_user.followers %}
        <div>
            <a href="{% url 'member:profile' user_pk=u.pk %}" class="btn">{{ u }}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}