{% load static %}
<article id="post-{{ post.pk }}" class="post">
    <header>
        <div class="post-header-left">
            <a href="#">
                <img src="" alt="">
                <span class="header-author">{{post.author}}</span>
            </a>
        </div>
        <div class="post-header-right">

        </div>
    </header>
    <div class="post-photo-container">
        {% if type == 'list' %}
        <a href="{% url 'post:post_detail' post_pk=post.pk %}">
            <img src="{{post.image.url}}" alt="">
        </a>
        {% else %}
        <img src="{{post.image.url}}" alt="">
        {% endif %}
    </div>
    <div class="post-btn-container">
        <a href="#">
            <img src="" alt="">
        </a>
        <a href="#">
            <img src="" alt="">
        </a>
    </div>
    <div class="post-bottom">
        <div class="post-btn-container clearfix">
            <div class="btn-left">
                <form action="{% url 'post:post_like' post_pk=post.pk %}?next={{request.path}}#post-{{post.pk}}" method="POST" class="form-inline">
                        {% csrf_token %}
                        <button type="submit" class="like-btn">
                        {% if request.user not in post.like_users.all %}
                        <img src="{% static 'images/post_unlike.png' %}" alt="">
                        {% else %}
                        <img src="{% static 'images/post_like.png' %}" alt="">
                        {% endif %}
                        </button>
                </form>
                <a href="#">
                    <img src="{% static 'images/post_comment.png' %}" alt="">
                </a>
            </div>
            {% if user == post.author %}
            <div class="btn-right">
                <a href="{% url 'post:post_modify' post_pk=post.pk %}" class="btn">수정하기</a>
                <form action="{% url 'post:post_delete' post_pk=post.pk %}" method="POST" class="form-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">삭제하기</button>
                </form>
            </div>
            {% endif %}
        </div>
        {% if post.like_count == 0 or post.like_count > 10 %}
        <p>좋아요 {{ post.like_count }}개</p>
        {% else %}
        <p>
            {% for author in post.like_users.all %}{% if forloop.counter != 1 %}, {% endif %}<a href="#" class="like-user">
            {{ author.username }}</a>{% endfor %}님이 좋아합니다.
        </p>
        {% endif %}
        <div class="post-comment-container">
            {% if post.my_comment %}
            {% include 'include/post_comment.html' with comment=post.my_comment style='red'%}
            {% endif %}
            {% for comment in post.comment_set.all %}
            {% if comment != post.my_comment %}
            {% include 'include/post_comment.html' %}
            {% endif %}
            {% endfor %}

        </div>
        <p class="created">{{post.created_date}}</p>
        <form action="{% url 'post:comment_create' post_pk=post.pk %}?next={{ request.path }}#post-{{ post.pk }}" method="POST">
            {% csrf_token %}
            {{ comment_form.content }}
        </form>
    </div>
</article>
