{% extends 'common/base.html' %}
{% load custom_tags %}

{% block content %}
    <div>
        <a href="{% url 'post:post_create' %}" class="btn">Post create</a>
    </div>
{% for post in posts %}
    {% include 'include/post.html' with type='list'%}
{% endfor %}

<div class="test">{{request.GET|query_string}}</div>

<div>
    {% if posts.has_previous %}
    <a href="{{request.path}}?page=1" class="btn">첫 페이지로</a>
    <a href="{{request.path}}?page={{posts.previous_page_number}}" class="btn"><<</a>
    <span>이전 페이지 : {{posts.previous_page_number}}</span>
    {% endif %}
    <span>현재 페이지 : {{posts.number}}</span>
    {% if posts.has_next %}
    <span>다음 페이지 : {{posts.next_page_number}}</span>
    <a href="{{request.path}}?page={{posts.next_page_number}}" class="btn">>></a>
    <a href="{{request.path}}?page={{posts.paginator.num_pages}}" class="btn">마지막 페이지로</a>
    {% endif %}

</div>
{% endblock %}