{% extends 'common/base.html' %}
{% load custom_tags %}

{% block content %}
    <div>
        <a href="{% url 'post:post_create' %}" class="btn">Post create</a>
    </div>
{% for post in posts %}
    {% include 'include/post.html' with type='list'%}
{% endfor %}

<!--현재 request.path 쿼리 출력 구문-->
<!--<div class="test">{{request.GET|query_string}}</div>-->

<div class="pagination">
    {% if posts.has_previous %}
    <a href="{{request.path}}?page=1" class="btn">첫 페이지로</a>
    <a href="{{request.path}}?page={{posts.previous_page_number}}" class="btn"><<{{posts.previous_page_number}}</a>
    {% endif %}
    <span class="btn">{{posts.number}}</span>
    {% if posts.has_next %}
    <a href="{{request.path}}?page={{posts.next_page_number}}" class="btn">{{posts.next_page_number}}>></a>
    <a href="{{request.path}}?page={{posts.paginator.num_pages}}" class="btn">마지막 페이지로</a>
    {% endif %}
</div>
{% endblock %}